form(id="uploadForm" enctype="multipart/form-data" action="/sendFile" method="POST")
    input(type="file" name="file" value="" id="fileLoader")
    button(class="button" type="submit" name="") Отправить