body{
    display: flex;
    align-items: center;
    padding-top: 40px;
    padding-bottom: 40px;
    background-color: #f5f5f5;
}

.form-signin {
    width: 100%;
    max-width: 330px;
    padding: 15px;
    margin: auto;
}

.form-floating {
    position: relative;
}

.form-signin input[type="file"] {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

.author{
    text-align: right;
}
.num{
    text-align: center;
}

p{
    font-size:1.5rem;
    margin-top:10px;
}

img{
    border: 1px solid green;
    max-width: 100%;
}